body{
    margin:0;
    padding:0;
    background-color: rgb(102, 100, 100);
}

.main-container {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}

#screen{
    background-color:rgb(20, 1, 129);
    border: solid 3px  rgb(158, 2, 35);  
    margin-top: 12px; 
}
.btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 440px) {
    button { margin-top: 25px; }
    #up, #down { margin-left: 100%; margin-right: 100%; }
  }